.container{
    height: 500vh;
    width: 80vw;
    border: 3px solid red;
    /* position: absolute; */
}

.child{
    height: 50px;
    width: 50px;
    border: 2px solid green;
}

.child1{
    position: relative;
    left: 200px;
    top: 50px;
}

.child2{
    position: absolute;
    bottom: 0;
    right: 0;
}

.child3{
    position: fixed;
    top: 40vh;
}

.child4{
    position: sticky;
    top: 0;
    top: 20px;
}