.child{
    border: 2px solid red;
    display: none;
}

@media (max-width:300px){
    .child1{
        display: block;
    }
}

@media (min-width:301px) and (max-width:500px){
    .child2{
        display: block;
    }
}